/*  your css code here. If applicable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #D3D3D3;
  padding: 10px;
}

.navbar {
  list-style: none;
  display: inline;
  justify-content: center; /* Center the nav items */
}

.navbar li {
  margin: 0 1rem;
}

