/* Style the nav-bar */
.container {
  background-color: #D3D3D3; /* Set background color */
  padding: 10px;            /* Set padding */
}

ul {
  list-style: none;  /* Remove bullets from the list */
  display: flex;
  padding: 0;
  margin: 0;
}

li {
  display: inline;           /* Display list items inline (horizontally) */
  margin-right: 1rem;        /* Add margin-right between list items */
}

li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}


